<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.montazze.letscook" >

	<uses-permission android:name="android.permission.INTERNET"/>

    <application
	    android:name=".helper.volley.VolleyController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.ActivitySearch"
	        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    <activity
		    android:name=".views.ActivityListRecipes"
            android:label="List Recipes"></activity>
	    <activity
		    android:name=".views.ActivityIngredients"
            android:label="Ingredients"></activity>
    </application>

</manifest>
